In [1]:
# Importing the important dependencies
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [9]:
# To load the dataset to a pandas dataframe
credit_card_data=pd.read_csv('/content/sample_data/creditcard.csv')

In [10]:
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [11]:
credit_card_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
284802,172786.0,-11.881118,10.071785,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,...,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,0.77,0
284803,172787.0,-0.732789,-0.055080,2.035030,-0.738589,0.868229,1.058415,0.024330,0.294869,0.584800,...,0.214205,0.924384,0.012463,-1.016226,-0.606624,-0.395255,0.068472,-0.053527,24.79,0
284804,172788.0,1.919565,-0.301254,-3.249640,-0.557828,2.630515,3.031260,-0.296827,0.708417,0.432454,...,0.232045,0.578229,-0.037501,0.640134,0.265745,-0.087371,0.004455,-0.026561,67.88,0
284805,172788.0,-0.240440,0.530483,0.702510,0.689799,-0.377961,0.623708,-0.686180,0.679145,0.392087,...,0.265245,0.800049,-0.163298,0.123205,-0.569159,0.546668,0.108821,0.104533,10.00,0
284806,172792.0,-0.533413,-0.189733,0.703337,-0.506271,-0.012546,-0.649617,1.577006,-0.414650,0.486180,...,0.261057,0.643078,0.376777,0.008797,-0.473649,-0.818267,-0.002415,0.013649,217.00,0

In [12]:
# Dataset Information
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [13]:
# Checking the number of missing value in each column
credit_card_data.isnull().sum

<bound method NDFrame._add_numeric_operations.<locals>.sum of          Time     V1     V2     V3     V4     V5     V6     V7     V8     V9  \
0       False  False  False  False  False  False  False  False  False  False
1       False  False  False  False  False  False  False  False  False  False
2       False  False  False  False  False  False  False  False  False  False
3       False  False  False  False  False  False  False  False  False  False
4       False  False  False  False  False  False  False  False  False  False
...       ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
284802  False  False  False  False  False  False  False  False  False  False
284803  False  False  False  False  False  False  False  False  False  False
284804  False  False  False  False  False  False  False  False  False  False
284805  False  False  False  False  False  False  False  False  False  False
284806  False  False  False  False  False  False  False  False  False  False

        ...    V21    V22    V23    V24    V25    V26    V27    V28  Amount  \
0       ...  False  False  False  False  False  False  False  False   False
1       ...  False  False  False  False  False  False  False  False   False
2       ...  False  False  False  False  False  False  False  False   False
3       ...  False  False  False  False  False  False  False  False   False
4       ...  False  False  False  False  False  False  False  False   False
...     ...    ...    ...    ...    ...    ...    ...    ...    ...     ...
284802  ...  False  False  False  False  False  False  False  False   False
284803  ...  False  False  False  False  False  False  False  False   False
284804  ...  False  False  False  False  False  False  False  False   False
284805  ...  False  False  False  False  False  False  False  False   False
284806  ...  False  False  False  False  False  False  False  False   False

        Class
0       False
1       False
2       False
3       False
4       False
...       ...
284802  False
284803  False
284804  False
284805  False
284806  False

[284807 rows x 31 columns]>

In [14]:
# Distribution of legit transactions and fraudulent transactions
# 0 --> Normal Transactions
# 1 --> Fraudulent Transactions
# Highly Unbalanced Dataset
credit_card_data['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

In [15]:
# Separating the data for analysis
legit = credit_card_data[credit_card_data.Class == 0]
fraud = credit_card_data[credit_card_data.Class == 1]

In [16]:
print(legit.shape)
print(fraud.shape)

(284315, 31)
(492, 31)

In [18]:
# Statistical Measure of the data
legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [19]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [21]:
# Compare the value between both classes by their mean value
credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [22]:
# Build a sample dataset containing similar distribution of original dataset for making uniform distribution
legit_sample = legit.sample(n=492) # Randomly sampling the dataset

In [23]:
# Concatenating two Dataframes
new_dataset = pd.concat([legit_sample, fraud],axis=0) # Axis 0 means row

In [24]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
77901,57269.0,1.009072,-0.261368,1.145336,1.465018,-1.059849,-0.240054,-0.477671,0.069203,0.766742,...,0.168395,0.456607,-0.154981,0.407741,0.462818,-0.250150,0.049830,0.049340,87.00,0
244093,152200.0,2.102796,-1.034966,0.087173,-0.540002,-1.276922,0.229132,-1.500334,0.117429,0.275128,...,-0.150836,0.177487,0.324140,0.499164,-0.612067,0.593170,0.025177,-0.022936,12.72,0
131493,79623.0,1.094057,-0.114218,1.379902,1.279936,-1.067724,-0.003206,-0.692001,0.253573,0.693871,...,-0.002736,0.135160,0.013976,0.532373,0.340513,-0.437702,0.065523,0.029255,9.99,0
156766,108879.0,0.977306,-1.980600,-1.337278,0.466774,0.164858,2.012120,-0.234835,0.407865,2.160072,...,-0.217620,-1.277611,0.102549,-1.014437,-0.974869,0.138608,-0.122114,0.007875,482.52,0
15318,26703.0,0.907014,-0.239069,0.001768,1.218348,0.183433,0.607035,0.186303,0.094959,-0.059449,...,-0.003349,-0.076933,-0.289532,-0.618713,0.702006,-0.304854,0.014601,0.024396,145.00,0

In [25]:
new_dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00,1
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76,1
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89,1
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00,1
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53,1

In [27]:
new_dataset['Class'].value_counts()

0    492
1    492
Name: Class, dtype: int64

In [28]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,92176.689024,-0.038394,-0.037401,0.046200,-0.027525,0.027517,-0.071608,-0.012669,-0.049428,0.010276,...,-0.040004,0.025907,0.034127,0.024357,-0.013851,-0.006618,-0.037230,0.005741,0.000479,85.290894
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [29]:
# Split the dataset into features and target(0 or 1)
X = new_dataset.drop(columns='Class',axis=1)
Y = new_dataset['Class']

In [30]:
print(X)
print(Y)

            Time        V1        V2        V3        V4        V5        V6  \
77901    57269.0  1.009072 -0.261368  1.145336  1.465018 -1.059849 -0.240054
244093  152200.0  2.102796 -1.034966  0.087173 -0.540002 -1.276922  0.229132
131493   79623.0  1.094057 -0.114218  1.379902  1.279936 -1.067724 -0.003206
156766  108879.0  0.977306 -1.980600 -1.337278  0.466774  0.164858  2.012120
15318    26703.0  0.907014 -0.239069  0.001768  1.218348  0.183433  0.607035
...          ...       ...       ...       ...       ...       ...       ...
279863  169142.0 -1.927883  1.125653 -4.518331  1.749293 -1.566487 -2.010494
280143  169347.0  1.378559  1.289381 -5.004247  1.411850  0.442581 -1.326536
280149  169351.0 -0.676143  1.126366 -2.213700  0.468308 -1.120541 -0.003346
281144  169966.0 -3.113832  0.585864 -5.399730  1.817092 -0.840618 -2.943548
281674  170348.0  1.991976  0.158476 -2.583441  0.408670  1.151147 -0.096695

              V7        V8        V9  ...       V20       V21       V22  \
77901  -0.477671  0.069203  0.766742  ...  0.006535  0.168395  0.456607
244093 -1.500334  0.117429  0.275128  ... -0.462401 -0.150836  0.177487
131493 -0.692001  0.253573  0.693871  ... -0.160398 -0.002736  0.135160
156766 -0.234835  0.407865  2.160072  ...  0.655256 -0.217620 -1.277611
15318   0.186303  0.094959 -0.059449  ...  0.172844 -0.003349 -0.076933
...          ...       ...       ...  ...       ...       ...       ...
279863 -0.882850  0.697211 -2.064945  ...  1.252967  0.778584 -0.319189
280143 -1.413170  0.248525 -1.127396  ...  0.226138  0.370612  0.028234
280149 -2.234739  1.210158 -0.652250  ...  0.247968  0.751826  0.834108
281144 -2.208002  1.058733 -1.632333  ...  0.306271  0.583276 -0.269209
281674  0.223050 -0.068384  0.577829  ... -0.017652 -0.164350 -0.295135

             V23       V24       V25       V26       V27       V28  Amount
77901  -0.154981  0.407741  0.462818 -0.250150  0.049830  0.049340   87.00
244093  0.324140  0.499164 -0.612067  0.593170  0.025177 -0.022936   12.72
131493  0.013976  0.532373  0.340513 -0.437702  0.065523  0.029255    9.99
156766  0.102549 -1.014437 -0.974869  0.138608 -0.122114  0.007875  482.52
15318  -0.289532 -0.618713  0.702006 -0.304854  0.014601  0.024396  145.00
...          ...       ...       ...       ...       ...       ...     ...
279863  0.639419 -0.294885  0.537503  0.788395  0.292680  0.147968  390.00
280143 -0.145640 -0.081049  0.521875  0.739467  0.389152  0.186637    0.76
280149  0.190944  0.032070 -0.739695  0.471111  0.385107  0.194361   77.89
281144 -0.456108 -0.183659 -0.328168  0.606116  0.884876 -0.253700  245.00
281674 -0.072173 -0.450261  0.313267 -0.289617  0.002988 -0.015309   42.53

[984 rows x 30 columns]
77901     0
244093    0
131493    0
156766    0
15318     0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

In [31]:
# Split the dataset into training and testing data
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2, stratify=Y,random_state=2)

In [34]:
print(X.shape, X_train.shape, X_test.shape)

(984, 30) (787, 30) (197, 30)

In [35]:
# To train our model
model = LogisticRegression()

In [36]:
# Training the logistic regression model by using training data
model.fit(X_train, Y_train)

LogisticRegression()

In [37]:
# To evaluate our model based on accuracy score
# accuracy on training data
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [38]:
print("Accuracy on training data: ", training_data_accuracy)

Accuracy on training data:  0.9250317662007624

In [39]:
# accuracy on test data
X_test_prediction = model.predict(X_test)
testing_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [40]:
print("Accuracy on testing data: ", testing_data_accuracy)

Accuracy on testing data:  0.8781725888324873